// Style for basket =========================================================================
.basket {
  margin-bottom: 20px;
  // .basket__orders
  &__orders {
    margin-bottom: 50px;
  }
  // .basket__orders-item
  &__orders-item {
  }
}
.orderblock {
  position: relative;
  display: flex;
  font-weight: 300;
  border-bottom: 1px solid #dedede;
  padding-bottom: 30px;
  margin-bottom: 30px;
  // .orderblock__section
  &__section {
  }
  // .orderblock__list
  &__list {
    // display: flex;
  }
  // .orderblock__close
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-align: center;
    transition: 0.3s;
    svg {
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  // .orderblock__img
  &__img {
    max-width: 80px;
    width: 100%;
    height: 110px;
    margin-right: 30px;
  }
  // .orderblock__content
  &__content {
    width: 100%;
  }
  // .orderblock__heading
  &__heading {
    display: flex;
    padding-top: 20px;
    @media (max-width: $md) {
      flex-direction: column;
    }
    @media (max-width: $sm) {
      // padding-top: 25px;
    }
  }
  // .orderblock__title
  &__title {
    margin-right: 45px;
    margin-top: 0;

    font-size: 12px;
    // margin-bottom: 10px;
    @media (max-width: $md) {
        margin-right: 0;
    }
  }
  // .orderblock__subtitle
  &__subtitle {
    color: #929292;
    font-size: 10px;
  }
  // .orderblock__info
  &__info {
    display: flex;
    margin-top: 15px;
  }
  // .orderblock__color
  &__color {
    margin-right: 70px;
  }
  // .orderblock__info-title
  &__info-title {
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  // .orderblock__color-type
  &__color-type {
    width: 15px;
    height: 15px;
    // background-color: #000;
  }
  // .orderblock__size
  &__size {
    margin-right: 50px;
  }
  // .orderblock__info-count
  &__info-count {
    font-size: 14px;
  }
  // .orderblock__length
  &__length {
    margin-right: 55px;
  }
  // .orderblock__country
  &__country {
    max-width: 250px;
    width: 100%;
  }
  // .orderblock__sum
  &__sum {
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-less {
      height: 1px;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 11px;
        background-color: #000;
        z-index: 1;
      }
    }
    &-more {
      margin-left: 10px;
      width: 22px;
      height: 22px;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 11px;
        width: 1px;
        background-color: #000;
        z-index: 1;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 11px;
        background-color: #000;
        z-index: 1;
      }
    }
  }
  // .orderblock__price
  &__price {
    max-width: 150px;
    width: 100%;
  }
  &__dilevery {
    font-size: 12px;
  }
}
.container {
}
.ibg {
}
.orderblock-ended {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
}

// Style for =========================================================================

.basket-issue {
  @include ps;
  font-weight: 300;
  // .basket-issue__inner
  &__inner {
  }
  // .basket-issue__top
  &__top {
    margin-bottom: 30px;
  }
  // .basket-issue__top-item
  &__top-item {
    font-size: 13px;
  }
  // .basket-issue__info
  &__info {
  }
  // .basket-issue__info-itew
  &__info-itew {
  }
  // .basket-issue__info-cost
  &__info-cost {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 300;
  }
  // .basket-issue__info-value
  &__info-value {
    // font-size: 24px;
    font-weight: 400;
  }
  // .basket-issue__info-btn
  &__info-btn {
    // display: block;
    max-width: 241px;
    width: 100%;
    padding: 10px 5px;
    min-height: 43px;

    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__info-agree {
    max-width: 340px;
    font-size: 12px;
  }
}
.container {
}
.tab-title {
  color: #000;
  border-bottom: 1px solid #000;
  transition: 0.3s;
  & + & {
    margin-left: 50px;
  }
  &:hover {
    color: #555;
    border-color: #555;
  }
}
.active {
}
.tab-item {
  display: none;
  &.active {
    display: block;
  }
}
.btn {
}
.orderblock__price .orderblock__info-count {
  font-weight: 400;
}
.orderblock__info-count {
  .jq-selectbox.opened {
    .jq-selectbox__select::before {
      transform: rotate(180deg) translateY(50%);
    }
  }
}
.jq-selectbox__select::before {
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
// Style for MENU =========================================================================

@media (max-width: $elg) {
  .orderblock__img {
    max-width: 80px;
    height: 110px;
  }
  .orderblock__title {
    margin-bottom: 5px;
  }
  .orderblock__info {
    margin-top: 14px;
  }
}
@media (min-width: 1200px) {
  .orderblock__heading-wrap {
    .orderblock__img {
      display: none;
    }
  }
}
@media (max-width: $lg) {
  .orderblock__info {
    flex-wrap: wrap;
    & > * {
      width: calc(25% - 20px);
      max-width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
  }
  .orderblock-ended {
    width: 49%;
  }
  .orderblock__img {
    display: none;
  }
  .orderblock__heading-wrap {
    display: flex;
    .orderblock__img {
      display: block;
    }
  }
  .orderblock__sum {
    order: 1;
  }
}
@media (max-width: $md) {
  .orderblock__info {
    & > * {
      width: calc(33% - 10px);
      margin-bottom: 25px;
    }
  }
  .orderblock-ended {
    width: 53%;
  }
  .orderblock__title {
    // margin-right: 20px;
  }
  .orderblock__img {
    margin-right: 20px;
  }
  .orderblock__title {
    // margin-right: 35px;
  }
  .orderblock {
    padding-bottom: 0;
  }
}
@media (max-width: $sm) {
  .orderblock__info {
    & > * {
      flex-grow: 1;
    }
  }
  .orderblock__close {
    svg {
      width: 15px;
      height: 15px;
    }
  }
  .orderblock__title {
    margin-right: 0;
    // padding-top: 25px;
  }
  .orderblock-ended {
    width: 100%;
  }
  .orderblock__country {
    width: 100%;
  }
  .orderblock__title {
    // font-size: 16px;
  }
  .basket__orders {
    margin-bottom: 30px;
  }
}
@media (max-width: $xs) {
  .basket-issue__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a + a {
      margin-top: 20px;
    }
  }
  .tab-title + .tab-title {
    margin-left: 0;
  }
  .basket-issue__info-btn {
    width: 100%;
    max-width: 100%;
  }
}
