.checkout-page {
   padding-bottom: 100px;

   font-weight: 300;
   // .checkout-page__inner

   &__inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 770px;
      margin: 0 auto;
   }

   // .checkout-page__main

   &__main {
      max-width: 410px;
   }

   // .checkout-page__block

   &__block {
      &--top {
         margin-bottom: 100px;
      }
      &--bottom {
      }
   }

   // .checkout-page__title

   &__title {
      margin-bottom: 30px;

      font-size: 12px;
   }

   // .checkout-page__row

   &__row {
      display: flex;
   }

   // .checkout-page__tab-circle

   &__tab-circle {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 18px;
      height: 18px;

      border: 1px solid #c4c4c4;
      border-radius: 50%;

      &::before {
         content: "";
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%) scale(0);

         width: 10px;
         height: 10px;

         background-color: #000;
         border-radius: 50%;

         transition: 0.3s;
      }
   }

   // .checkout-page__tab-title

   &__tab-title {
      position: relative;

      padding-left: 40px;

      color: #c4c4c4;
      cursor: pointer;
      & + & {
         margin-left: 50px;
      }
      &--active {
         color: #000;

         .checkout-page__tab-circle {
            border-color: #000000;
            &::before {
               transform: translate(-50%, -50%) scale(1);
            }
         }
      }
   }

   // .checkout-page__tab-method

   &__tab-method {
      margin-bottom: 5px;

      font-size: 12px;
      font-weight: 400;
   }

   // .checkout-page__tab-time

   &__tab-time {
      font-size: 10px;
   }

   // .checkout-page__tab-content

   &__tab-content {
      display: none;

      &--active {
         display: block;
      }
      &--top {
         padding-top: 30px;
      }
      &--bottom {
         padding-top: 100px;
      }
   }

   // .checkout-page__map-row

   &__map-row {
      display: flex;
      align-items: center;
   }

   // .checkout-page__map-col

   &__map-col {
      & + & {
         margin-left: 60px;
      }
   }

   // .checkout-page__map-title

   &__map-title {
      margin-bottom: 10px;

      color: #000;
      font-size: 14px;
   }

   // .checkout-page__map-mode

   &__map-mode {
      position: relative;

      margin-bottom: 10px;
      padding-left: 25px;

      color: #555;
      font-size: 12px;
      line-height: 1.8;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;

         width: 15px;
         height: 15px;

         background-image: url(../../images/dest/icon/footer-clock.svg);
         background-size: contain;
      }
   }

   // .checkout-page__map-link

   &__map-link {
      font-size: 12px;
      line-height: 1.2;

      border-bottom: 1px solid #000000;

      transition: 0.3s;

      &:hover {
         color: #555555;

         border-color: #555555;
      }
   }

   // .checkout-page__map-real

   &__map-real {
      width: 100px;
      height: 100px;

      border-radius: 50%;
      overflow: hidden;
      iframe {
         width: 100%;
         height: 100%;

         border: 0;
      }
   }

   // .checkout-page__field

   &__field {
      position: relative;

      display: flex;
      padding-left: 110px;
      & + & {
         margin-top: 30px;
      }
   }

   // .checkout-page__field-input

   &__field-select {
      width: 100%;

      font-size: 14px;

      border-bottom: 1px solid #bdbdbd;
      .jq-selectbox__dropdown {
         width: 100%;
         overflow-y: auto;

         top: 100%;
      }
      // .jq-select-multiple select,
      // .jq-selectbox select {
      //    display: none;
      // }
      .jq-selectbox__select-text {
         padding: 0px 0px 10px 15px;
      }
      .jq-selectbox__select::before {
         top: calc((100% - 5px) / 2);
         right: 5px;

         width: 10px;
         height: 6px;
      }
      &.opened {
         .jq-selectbox__select::before {
            transform: rotate(180deg) translateY(50%);
         }
      }
   }

   // .checkout-page__field-input

   &__field-input {
      max-width: 300px;
      width: 100%;
      padding: 0 15px 10px 15px;

      border: 0;
      border-bottom: 1px solid #bdbdbd;

      font-size: 14px;
      line-height: 1;

      &::placeholder {
         color: #bdbdbd;
      }
   }

   // .checkout-page__field-label

   &__field-label {
      position: absolute;

      top: 0;
      left: 0;

      font-size: 14px;
      &--required {
         &::after {
            content: "*";

            margin-left: 3px;

            color: #f60d0d;
         }
      }
   }

   // .checkout-page__info

   &__info {
      position: sticky;
      top: 0;

      max-width: 220px;
      width: 100%;
   }

   // .checkout-page__link

   &__link {
      color: #000;
      font-size: 14px;

      border-bottom: 1px solid #000;

      transition: 0.3s;

      & + & {
         margin-top: 20px;
      }

      &:hover {
         color: #555555;

         border-color: #555555;
      }
   }

   // .checkout-page__total

   &__total {
      display: flex;
      margin-top: 40px;

      font-size: 14px;
   }

   // .checkout-page__total-num

   &__total-num {
      padding-left: 4px;

      font-weight: 400;
   }

   // .checkout-page__btn

   &__btn {
      width: 100%;
      padding: 12px 5px;
      margin-top: 20px;

      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.1px;

      background-color: #000;
      border: 1px solid #000;
      border-radius: 0;

      transition: 0.3s;

      &:hover {
         color: #000000;

         background-color: #ffffff;
      }
   }

   // .checkout-page__policy

   &__policy {
      margin-top: 10px;

      font-size: 10px;
   }

   // .checkout-page__policy-link

   &__policy-link {
      border-bottom: 1px solid #000000;

      transition: 0.3s;

      &:hover {
         color: #555555;

         border-color: #555555;
      }
   }
}
.container {
}
.btn {
}
