// Страница профиля входная =========================================================
.profile {
  @include ps;
  // .profile__inner
  &__inner {
    display: flex;
  }
  // .profile__nav
  &__nav {
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
  }
  // .profile__nav-list
  &__nav-list {
  }
  &__nav-item {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
    // text-transform: uppercase;
    display: block;
    transition: 0.4s;
    &:hover {
      padding-left: 15px;
    }
    a {
      color: #555;
    }
    &.active {
      a {
        color: #000;
      }
      // padding-left: 15px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  // .profile__content
  &__content {
    width: 100%;
  }
}
.container {
}
.profile-enter {
  // .profile-enter__inner
  &__inner {
    max-width: 1170px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #000;
  }
  // .profile-enter__title
  &__title {
    font-size: 20px;
  }
  // .profile-enter__title-wrap
  &__title-wrap {
    display: flex;

    margin-bottom: 30px;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  // .profile-enter__box
  &__box {
    display: flex;
    justify-content: space-between;
  }
  // .profile-enter__item
  &__item {
    max-width: calc(25% - 10px);
  }
  // .profile-enter__contact
  &__contact {
  }
  // .profile-enter__item-title
  &__item-title {
    margin-bottom: 15px;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  // .profile-enter__item-email
  &__item-email {
    font-size: 14px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
  }
  // .profile-enter__item-text
  &__item-text {
    display: block;

    color: #555;
    font-size: 14px;
    & + & {
      margin-top: 20px;
    }
  }
  // .profile-enter__edit
  &__edit {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #000;
    &::before {
      content: "";
      position: absolute;
      left: -31px;
      top: 0;
      background-image: url(../images/dest/registration/pancil.png);
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // .profile-enter__edit-wrap

  &__edit-wrap {
    margin-left: 20%;
    @media (max-width: $md) {
      margin-top: 10px;
      margin-left: 30px;
    }
  }
}
// Страница профиля входная END=========================================================

// Редактирование профиля ==============================================================
.profile-edit {
  font-weight: 300;
  input {
    color: #000;
    &::placeholder {
      color: #555;
    }
  }
  // .profile-edit__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 630px;
  }
  // .profile-edit__address
  &__address {
    width: 100%;
  }
  // .profile-edit__personal
  &__personal {
    width: 100%;
    margin-bottom: 50px;
  }
  // .profile-edit__btn
  &__btn {
    display: block;
    max-width: 290px;
    width: 100%;
    padding: 15px 10px;
    margin: 40px auto 0 auto;

    font-size: 12px;
    text-align: center;

    cursor: pointer;
    // .profile-edit__btn-wrap
    &-wrap {
      margin-top: 30px;
    }
  }
  // .profile-edit__agree
  &__agree {
    display: flex;
    margin-left: 220px;

    font-size: 12px;
    @media (max-width: $sm) {
      margin-left: 0;
    }
    a {
      border-bottom: 1px solid #000;
      color: #000;
    }
  }
  // .profile-edit__title
  &__title {
    margin-bottom: 20px;
    padding-left: 255px;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @media (max-width: $sm) {
      padding-left: 0;
    }
  }
}
.profile-edit__label-wrap {
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  width: 100% !important;
  @media (max-width: $xs) {
    flex-direction: column;
  }
}
.profile-edit__label-text {
  max-width: 220px;
  width: 100%;
  padding-top: 10px;

  color: #000;
  font-size: 14px;
  @media (max-width: $xs) {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
.formblock-form {
  // .formblock-form__line
  &__line {
    &-check {
      margin-bottom: 40px;
    }
    &-flex {
      display: flex;
      justify-content: space-between;
      .field-style__input {
        // width: calc(50% - 15px);
        input {
          max-width: 80px;
          @media (max-width: $xs) {
            max-width: 100%;
          }
        }
      }
      .profile-edit__label-wrap + .profile-edit__label-wrap {
        margin-left: 30px;
      }
    }
  }
  // .formblock-form__link
  &__link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 220px;
    padding: 0;
    padding-bottom: 2px;

    color: #000000;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;

    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
    @media (max-width: $sm) {
      margin-left: 0;
    }
  }
}
.field-style {
  // .field-style__input
  &__input {
    width: calc(100% - 15px);
    margin-bottom: 20px;
    input {
      width: 100%;
      padding: 10px 15px 10px 12px;

      font-size: 14px;

      border: none;
      border-bottom: 1px solid #BDBDBD;
      &::placeholder {
        color: #bdbdbd;
      }
    }
  }
}
.input-checkbox {
}
.catalog-item {
  // .catalog-item__size
  &__size {
  }
}
.btn {
}
// Редактирование профиля END ==============================================================

// Мои заказы =================================================================
.my-orders {
  // .my-orders__info
  &__info {
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    color: #555;
    font-weight: 300;
    font-size: 18px;
    position: relative;
  }
  // .my-orders__title
  &__title {
    margin-bottom: 30px;
    font-size: 12px;
    color: #000000;
  }
  // .my-orders__number
  &__number {
    margin-bottom: 10px;

    color: #555555;
    font-size: 10px;
  }
  // .my-orders__status
  &__status {
    font-size: 12px;
  }
  // .my-orders__return
  &__return {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-align: center;
    transition: 0.3s;
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    background-color: transparent;
    outline: none;
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(1.1);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: #000;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 1px;
      background-color: #000;
    }
  }
  // .my-orders__inner
  &__inner {
  }
  // .my-orders__orders-item
  &__orders-item {
  }
}
.orderblock {
  // .orderblock__close
  &__close {
  }
  // .orderblock__img
  &__img {
  }
  // .orderblock__content
  &__content {
  }
  // .orderblock__title
  &__title {
  }
  // .orderblock__subtitle
  &__subtitle {
  }
  // .orderblock__info
  &__info {
  }
  // .orderblock__color
  &__color {
  }
  // .orderblock__info-title
  &__info-title {
  }
  // .orderblock__color-type
  &__color-type {
  }
  // .orderblock__size
  &__size {
  }
  // .orderblock__info-count
  &__info-count {
  }
  // .orderblock__length
  &__length {
  }
  // .orderblock__country
  &__country {
  }
  // .orderblock__sum
  &__sum {
  }
  // .orderblock__sum-wrap
  &__sum-wrap {
  }
  // .orderblock__sum-count
  &__sum-count {
  }
  // .orderblock__price
  &__price {
  }
}
.orderblock-type1 {
}
.ibg {
}
.orderblock-ended {
}
.orderblock-type2 {
}
// Мои заказы END =================================================================

// Мои подписки ======================================================================================
.my-subscruptions {
  // .my-subscruptions__info
  &__info {
  }
  // .my-subscruptions__title
  &__title {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 300;
  }
  // .my-subscruptions__inner
  &__inner {
  }
  // .my-subscruptions__orders-item
  &__orders-item {
  }
}
.orderblock {
  // .orderblock__close
  &__close {
  }
  // .orderblock__img
  &__img {
  }
  // .orderblock__content
  &__content {
  }
  // .orderblock__title
  &__title {
  }
  // .orderblock__subtitle
  &__subtitle {
  }
  // .orderblock__info
  &__info {
  }
  // .orderblock__color
  &__color {
  }
  // .orderblock__info-title
  &__info-title {
  }
  // .orderblock__color-type
  &__color-type {
  }
  // .orderblock__size
  &__size {
  }
  // .orderblock__info-count
  &__info-count {
  }
  // .orderblock__length
  &__length {
  }
  // .orderblock__country
  &__country {
  }
  // .orderblock__sum
  &__sum {
  }
  // .orderblock__sum-wrap
  &__sum-wrap {
  }
  // .orderblock__sum-count
  &__sum-count {
  }
  // .orderblock__price
  &__price {
  }
}
.orderblock-type1 {
}
.ibg {
}
.color-black {
}
.orderblock-ended {
}
.orderblock-type2 {
}
.color-red {
}
// Мои подписки END ======================================================================================

// Избранные товары ======================================================================
.profile-favorites {
  // @include ps;
  // .profile-favorites__inner
  .productblock {
    &__imagebox {
      min-height: 530px;
    }
  }
  &__inner {
  }
  // .profile-favorites__row
  &__row {
    display: flex;
    margin: 0 -15px;
    margin-bottom: -50px;
    flex-wrap: wrap;
  }
  // .profile-favorites__col
  &__col {
    width: calc(33.333% - 30px);
    margin: 0 15px;
    margin-bottom: 50px;
  }
}
.container {
}
.productblock {
  // .productblock__imagebox
  &__imagebox {
  }
  // .productblock__imagebox-new
  &__imagebox-new {
  }
  // .productblock__imagebox-heart
  &__imagebox-heart {
  }
  // .productblock__imagebox-sizewrap
  &__imagebox-sizewrap {
  }
  // .productblock__imagebox-size
  &__imagebox-size {
  }
  // .productblock__imagebox-btn
  &__imagebox-btn {
  }
  // .productblock__info
  &__info {
  }
  // .productblock__info-name
  &__info-name {
  }
  // .productblock__info-country
  &__info-country {
  }
  // .productblock__info-pricewrap
  &__info-pricewrap {
  }
  // .productblock__info-colortext
  &__info-colortext {
  }
  // .productblock__info-colors
  &__info-colors {
  }
}
.color-neznayu1 {
}
.color-neznayu2 {
}
.color-neznayu3 {
}
.color-black {
}
.color-red {
}
// Избранные товары END ======================================================================

// Политика конфендециальности ===============================================================
.conf {
  @include ps;
  font-weight: 300;
  font-size: 14px;
  // line-height: 160%;
  color: #000000;

  // .conf__inner
  &__inner {
  }
  // .conf__list
  &__list {
    margin: 0;
    padding: 0;
    li {
      display: list-item;
      list-style-position: inside;
      margin-bottom: 25px;
    }
  }
  // .conf__list-num
  &__list-num {
  }
}
.container {
}
// Политика конфендециальности  END ===============================================================

// Публичная оферта =================================================================================
.conf {
  line-height: 1.6;
  // .conf__inner
  &__inner {
  }
  // .conf__list
  &__list {
  }
  // .conf__list-num
  &__list-num {
  }
}
.public-offer {
  strong {
    font-weight: 400;
  }
  ol {
    padding: 0;
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
  }
  & ol > li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li, ".") ". ";
  }
  ul {
    li {
      margin-bottom: 0;
    }
    li:before {
      content: "-";
      margin-right: 5px;
    }
  }
}
.container {
}
// Публичная оферта END =================================================================================

// Меню в профиле =================================

@media (min-width: $md) {
  .header-profile-menu-item {
    display: none;
  }
}
@media (max-width: $md) {
  .header-profile-menu {
    .menu.active .menu__list {
      transform: none;
      top: 70px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .menu__list {
      width: 100%;
      height: calc(100% - 120px);
      li {
        display: none;
        line-height: 1;
        & + li {
          margin-top: 20px;
        }
        &.header-profile-menu-item {
          display: block;
        }
      }
      .menu__list-item a {
        padding: 0;
      }
    }
  }
}

// Меню в профиле END =================================
// Избранные товары =====================================================================================
.profile-favorites__header-title {
  margin-bottom: 40px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}
@media (max-width: $elg) {
  .profile__nav-item {
    font-size: 14px;
  }
  .profile__nav {
    max-width: 300px;
  }
  .profile-favorites .productblock__imagebox {
    min-height: 390px;
  }
  .profile__nav-item.active {
    // padding-left: 0;
  }
  // favorites ==============
  .profile-favorites {
    .productblock__info {
      padding-left: 10px;
      padding-right: 10px;
    }
    .productblock__info-colortext {
      // margin-bottom: 0;
      margin-right: 0;
    }
    .productblock__imagebox-sizewrap label + label {
      margin-left: 14px;
    }
  }
  // favorites =================
}
@media (max-width: $lgh) {
  .profile-favorites .productblock__imagebox {
    min-height: 360px;
  }
}
@media (max-width: $lg) {
  .profile__nav {
    display: none;
  }
}
@media (max-width: $md) {
  .profile-favorites__col {
    width: calc(50% - 30px);
  }
  .profile-favorites .productblock__imagebox {
    min-height: 410px;
  }
}
@media (max-width: $sm) {
  .profile-favorites .productblock__imagebox {
    min-height: 370px;
  }
  .profile-favorites {
    .productblock__info-pricewrap {
      flex-direction: row;
    }
    .productblock__info-colortext {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}
@media (max-width: $xs) {
  .profile-favorites__col {
    width: calc(50% - 20px);
    margin: 0 10px;
    margin-bottom: 30px;
  }
  .profile-favorites__row {
    margin: 0 -10px;
  }
  .profile-favorites .productblock__imagebox {
    min-height: 320px;
  }
}
@media (max-width: 500px) {
  .profile-favorites .productblock__imagebox {
    min-height: 260px;
  }
  .profile-favorites .productblock__imagebox-sizewrap label + label {
    margin-left: 7px;
  }
  .profile-favorites .productblock__info {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 450px) {
  .profile-favorites .productblock__imagebox {
    min-height: 220px;
  }
  .profile-favorites {
    .productblock__imagebox-btn {
      padding: 9px 3px;
    }
  }
}
@media (max-width: 400px) {
  .profile-favorites .productblock__imagebox-sizewrap label + label {
    margin-left: 5px;
  }
  .profile-favorites .productblock__imagebox {
    min-height: 195px;
  }
}
// Избранные товары END =====================================================================================

// Профиль основной ======================================================

@media (max-width: $md) {
  .profile-enter__box {
    flex-wrap: wrap;
  }
  .profile-enter__item {
    max-width: calc(50% - 15px);
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: $xs) {
  .profile-enter__item {
    max-width: 100%;
  }
  .profile-enter__item-title {
    // margin-bottom: 20px;
  }
}

// Профиль основной END =====================================================

// Редактировать профиль =====================================================
.profile-edit__inner {
}
@media (max-width: $elg) {
  .profile-edit__personal,
  .profile-edit__address {
    // max-width: 410px;
  }
}
@media (max-width: $lgh) {
  .profile-edit__inner {
    // flex-direction: column;
  }
  .profile-edit__personal,
  .profile-edit__address {
    // max-width: 100%;
  }
}
@media (max-width: $xs) {
  .profile-edit__btn-wrap {
    margin-top: 30px;
    flex-direction: column;
  }
  .profile-edit__btn {
    margin-bottom: 10px;
  }
  .profile-edit__agree {
    font-size: 9px;
  }
  .profile-edit input {
    font-size: 14px;
  }
}
// Редактировать профиль END =================================================

// Сменить пароль =============================================================
.change-password {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &--active {
    z-index: 1000;
  }

  .field-style__input {
    width: 100%;
  }

  // .change-password__overlay

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: rgba(#000, 0);

    &--active {
      background-color: rgba(#000, 0.5);
    }
  }

  // .change-password__form

  &__form {
    transform: translateY(-100vh);

    max-width: 410px;
    width: 100%;
    padding: 75px 55px;
    overflow-y: auto;

    background-color: #fff;

    transition: 0.35s;
    @media (max-width: $xs) {
      max-width: 90%;
      max-height: 95%;
      padding: 35px 7vw;
    }
    &--active {
      transform: translateY(0);
    }
  }

  // .change-password__title

  &__title {
    margin-bottom: 30px;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }

  // .change-password__btn

  &__btn {
    display: block;

    width: 100%;
    margin-top: 30px;
    padding: 12px 10px;

    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    background-color: #000;
    border: none;
  }
}
.formblock-form {
  // .formblock-form__line

  &__line {
  }
}
.field-style {
  // .field-style__input

  &__input {
  }
}

@media (max-width: $xs) {
  .change-password {
    .field-style__input input {
      font-size: 14px;
    }
  }
  .change-password__btn {
    width: 100%;
  }
}
// Сменить пароль END =========================================================

// Мои подписки и заказы ===============================================================
@media (max-width: $elg) {
  .my-subscruptions,
  .my-orders {
    // .orderblock__color {
    //   margin-right: 35px;
    // }
    // .orderblock__size {
    //   margin-right: 30px;
    // }
    // .orderblock__length {
    //   margin-right: 30px;
    // }
    // .orderblock__title {
    //   // font-size: 18px;
    //   // line-height: 1;
    // }
  }
}
@media (max-width: 1300px) {
  .my-subscruptions,
  .my-orders {
    .orderblock__info {
      flex-wrap: wrap;
    }
    .orderblock__info > * {
      // flex-grow: 1;
      margin-bottom: 30px;
    }
    .orderblock-ended {
      max-width: 100%;
      width: 100%;
      justify-content: flex-start;
    }
    .orderblock__sum {
      order: 1;
    }
  }
}
@media (max-width: $lgh) {
  .my-subscruptions,
  .my-orders {
  }
}
@media (max-width: $lg) {
  .my-subscruptions,
  .my-orders {
    .orderblock__color {
      margin-right: 0px;
    }
    .orderblock__size {
      margin-right: 0px;
    }
    .orderblock__length {
      margin-right: 0px;
    }
    .my-orders__return {
      padding: 0;
    }
  }
}
@media (max-width: $md) {
  .my-subscruptions,
  .my-orders {
  }
}
@media (max-width: $sm) {
  .my-subscruptions,
  .my-orders {
    .my-orders__return {
      width: 15px;
      height: 15px;
      top: 10px;
    }
    .orderblock__title {
      // font-size: 16px;
      // line-height: 1;
    }
  }
}
@media (max-width: $xs) {
  .my-subscruptions,
  .my-orders {
  }
}

// Мои подписки и заказы END ===========================================================

// Политика конфендициальности ========================================================
@media (max-width: $sm) {
  .conf {
    font-size: 14px;
  }
}
// Политика конфендициальности END ====================================================
