.registration-block {
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;

  font-size: 12px;
  font-weight: 300;
  text-align: center;
  // .registration-block__inner

  &__inner {
  }

  // .registration-block__title

  &__title {
    margin-bottom: 30px;

    text-transform: uppercase;
  }

  // .registration-block__input

  &__input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 10px 10px 0px;
    color: #555;

    border: none;
    border-bottom: 1px solid #bdbdbd;
  }

  // .registration-block__input-wrap

  &__input-wrap {
    width: 100%;

    // .registration-block__input-wrap+.registration-block__input-wrap
    & + & {
      margin-top: 30px;
    }
  }

  // .registration-block__link

  &__link {
    margin: 10px 0px 20px;

    border-bottom: 1px solid #555;
  }

  // .registration-block__btn

  &__btn {
    display: block;
    width: 100%;
    min-height: 43px;
    padding: 5px;

    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }

  // .registration-block__btn-modal

  &__btn-modal {
    display: inline-block;
    margin-top: 40px;
    padding: 0;

    color: #555;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
  }
}




.registration-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -200;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  // .registration-modal--active

  &--active {
    z-index: 9000;

    opacity: 1;

    // .registration-modal--active .registration-modal__overlay
    .registration-modal__overlay {
    }

    // .registration-modal--active .registration-modal__inner
    .registration-modal__inner {
    }
  }

  // .registration-modal__inner

  &__inner {
    position: relative;
    z-index: 10;
    overflow-y: auto;

    max-width: 410px;
    width: 100%;
    padding: 75px 55px;

    text-align: center;

    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    @media (max-width: $xs) {
      max-width: 90%;
      max-height: 95%;
      padding: 35px 6vw;
    }
  }

  // .registration-modal__overlay

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    width: 100%;

    background-color: rgba(#000, 0.2);
  }

  // .registration-modal__title

  &__title {
    margin-bottom: 40px;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  // .registration-modal__input-wrap

  &__input-wrap {
  }

  // .registration-modal__input

  &__input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 10px 10px 0;

    color: #555;
    font-size: 14px;

    border: none;
    border-bottom: 1px solid #555;
  }

  // .registration-modal__btn

  &__btn {
    width: 100%;
    min-height: 43px;
    margin-bottom: 15px;
    padding: 5px;

    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    background-color: #000;
    border: none;
  }

  // .registration-modal__stock

  &__stock {
    cursor: pointer;
  }

  // .registration-modal__label

  &__label {
    display: flex;
    align-items: center;
  }

  // .registration-modal__stock-check

  &__stock-check {
    position: relative;

    width: 18px;
    height: 18px;

    border: 1px solid #000;

    // .registration-modal__stock-check::after

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale(0);

      width: 18px;
      height: 18px;

      background-image: url(../../images/dest/catalog/checked-jq.svg);
      background-size: 12px 10px;
      background-position: center;
      background-repeat: no-repeat;

      transition: transform 0.2s;
    }

    // .registration-modal__stock-check .checked

    &.checked {

      // .registration-modal__stock-check.checked::after

      &::after {
        transform: scale(1);
      }
    }
  }

  // .registration-modal__stock-text

  &__stock-text {
    margin-left: 12px;

    font-size: 12px;
    @media (max-width: $xs) {
      margin-left: 8px;

      font-size: 10px;
    }
  }
}
